.wrap{
    align-self:  center;
    background-color: lightblue;
    margin: 20px 40px;
    width: 500px;
    border: 2px solid rgb(119, 119, 219);
    border-radius: 7px;
    padding: 20px;
    
}
.Title{
    font-style: italic;
    font-size: 25px;
    border-bottom: 2px solid rgb(119, 119, 219);
}
