header{
    background-color: #6c757d;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 900;
}
a:hover{
    color: red;
    text-decoration: none;
}