.searchFilm{
    padding: 30px;
    margin: 30px;
    text-align: center;
}
.filmItem img{
    width: 50%;
    height: 50%;
}
.filmItem{
    text-align: center;
    font-size: 19px;
    font-style: italic;
    height: 500px;
}