header{
    background-color: #6c757d;
}
li{
    list-style: none;
    display: inline-block;
}
ul{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    margin-bottom: 0;
}
